<h1>Editing Book </h1>

<% if @book.errors.any? %>
  <div class="error-messages">
    <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
    <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_with model: @book, local: true do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <%= f.submit "Update Book" %>

<% end %>


<%= link_to "Show", book_path(@book) %> &nbsp | &nbsp
<%= link_to "Back", books_path %>
